<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Expeditor</display-name>
	<welcome-file-list>
		<welcome-file>/web/jsp/commun/login.jsp</welcome-file>
	
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	

	<resource-ref>
		<description>Pool de connexion vers la base Expeditor</description>
		<res-ref-name>jdbc/DataSourceExpeditor</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<!--<security-constraint>
		 <web-resource-collection>
			liste des urls a securiser 
			<web-resource-name>Accès restreint</web-resource-name>
			<description></description>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
			<http-method>CONNECT</http-method>
		</web-resource-collection> 

		activer le protocole https pour les parties sécurisées 
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>-->

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>AuthentificationRealm</realm-name>
		<!-- TODO: pointer vers les bonnes pages -->
		<form-login-config>
			<form-login-page>/web/jsp/commun/login.jsp</form-login-page>
			<form-error-page>/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>
</web-app>