<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Expeditor</display-name>
  <welcome-file-list>
  	<welcome-file>/TestDalServlet</welcome-file>
<!--     <welcome-file>/web/jsp/commun/index.html</welcome-file> -->
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Pool de connexion vers la base Expeditor</description>
    <res-ref-name>jdbc/DataSourceExpeditor</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Accès libre</web-resource-name>
      <description></description>
      <url-pattern>/web/styles/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Accès libre</web-resource-name>
      <description></description>
      <url-pattern>/web/javascript/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Accès libre</web-resource-name>
      <description></description>
      <url-pattern>/web/fonts/*</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Accès restreint</web-resource-name>
      <description></description>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>employe</role-name>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Authentification</realm-name>
    <form-login-config>
      <form-login-page>/web/jsp/commun/login.jsp</form-login-page>
      <form-error-page>/web/jsp/commun/login.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>