@CHARSET "UTF-8";
/*
 * Changement de la couleur des labels
 */
 /* label focus color */
.input-field input[type] + label {
     color: #000;
}

.input-field input[type] {
     color: #000;
}
/*
 * Changement de la couleur des icones
 */
.input-field input[type]:focus + label {
     color: #525db2;
}

/*
 * Changement de la couleur des icones
 */
.input-field input[type]:focus {
  border-bottom: 1px solid #525db2;
  box-shadow: 0 1px 0 0 #525db2;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #525db2;
}

/*
 * Gestion du scroll sur la div client
 */
.commande-client {
	border-bottom-width: 2px;
	border-bottom-style: solid;
    height: 25%;
    overflow: auto;
   	background-color: #ffffff;
}

/*
 * Gestion d'un taille de page fixe
 */
 
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: #eeeeee;
	overflow : hidden;
}

main {
	flex: 1 0 auto;
}

/*
 * Gestion du scroll sur le tableau
 */
table.table-commande > tfoot > tr {
	background-color: #aaaaaa;
}

table.table-commande {
    display: table;
    width: 100%;
}
table.table-commande thead, table.table-commande tbody {
    float: left;
    width: 100%;
}
table.table-commande tbody {
    overflow: auto;
    height: 300px;
}
table.table-commande tr {
    width: 100%;
    display: table;
    text-align: left;
}
table.table-commande th, table.table-commande td {
    width: 20%;
}

.btn-block{
	display: block;
	width: 100%;
	height:100%;
}










