@CHARSET "UTF-8";
 /* label focus color */
.input-field input[type] + label {
     color: #000;
}

.input-field input[type] {
     color: #000;
}

.input-field input[type]:focus + label {
     color: #525db2;
}

.input-field input[type]:focus {
  border-bottom: 1px solid #525db2;
  box-shadow: 0 1px 0 0 #525db2;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #525db2;
}